@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-600 dark:bg-gray-700;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-300;
}

p {
  @apply text-slate-500 dark:text-slate-400;
}
